//GLOBAL VARIABLES

//COLORS

// Descriptive Base Colors
$gray: #808080;
$punch: #DD4B39;
$kashmirBlue: #45668E;
$mineShaft: #2F2F2F;
$chambray: #3B5998;
$deepCerulean: #997BB6;

//UI colors
$contacts-colors: (
	phone  : $gray,
	gmail  : $punch,
	vk     : $kashmirBlue,
	github : $mineShaft,
	facebook : $chambray,
	linkedin : $deepCerulean
);

//BREAKPOINTS
$res_900p: max-width 1600px;
$res_768p: max-width 1366px;
$tablet_landscape: max-width 1100px;
$tablet_portrait: max-width 767px;
$smartphone_portrait: max-width 479px;

//TYPOGRAPHY

//modular scale settings
$ms-base: 1em;
$ms-ratio: $golden;
//setting base for modular scale sizes 
//and other deafults
body {
    /* font-size:100%; */
    /* line-height:1.125em; */
    font-size: 16px;
    line-height:1;
    font-family: 'Source Sans Pro', sans-serif;
    @include breakpoint($res_900p) {
        font-size: 14px;
    }
    @include breakpoint($res_768p) {
        font-size: 12px;
    }
    @include breakpoint($tablet_landscape) {
        font-size: 9px;
    }
}
