.portfolio {
    margin-bottom: 1.618em;
    &__header {
        font-size: ms(3);     
        padding-top: 1em;
        padding-bottom: 0.618em;
        padding-left: 0.382em;
    }
    
    &__image {
        transition: transform 7s;
        min-width: 100%;
        min-height: 100%;
        &:hover{
            transform: scale(1.5);
        }
    }
    &__item {
        position: relative;
        height: 350px;
        margin-bottom: gutter();
        background: floralwhite;
        overflow: hidden;
        transition: all 3s;
        &--4 {
            @include span(4 of 12);     
        }
        &--8 {
            @include span(8 of 12);     
        }
        &--last {
            @include last;     
        }
        &--webdev {
            background: #0daad0;
        }
        &--analytics {
            background: #f16529;
        }
        /* hover box-shadow: 0 1px 3px #aaa; */
    }
    &__description {
        position: absolute;     
        font-size: ms(1);
        bottom: 1em;
        left: 0;
        color: white;
        padding: 1em;
        &--webdev {
            background: #0daad0;
        }
        &--analytics {
            background: #f16529;
        }
    }
    &__link {
        text-decoration: none;        
        color: #fff;
        &:hover {
            opacity: 0.8;        
        }
    }
    
}
.skill {
    &__header {
        color: white;        
        font-size: ms(2);
        padding-top: 1em;
        padding-bottom: 0.618em;
        padding-left: 0.618em;
    }
    &__list {
        padding-left: 1.618em;
    }
    &__item {
        color: white;        
        font-size: ms(1);
        margin-bottom: 0.618em;
    }
    
}

