.intro {
    max-width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    &__video {
        min-width:100%;
        min-height:100%;
        outline: none;

        //centering
        position: relative;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        transform: translate(-50%, -50%);
    }
    
    &__heading {
        display: block;
        position: absolute;
        width:100%;
        top: 25vh;
        color:white;
        font-size: ms(4);
        opacity: 0;
        transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
        @include breakpoint($tablet_portrait) {
            font-size: ms(3);
        }
        @include breakpoint($smartphone_portrait) {
            top: 20vh;
        }
    }
    &__subheading {
        display: block;
        position: absolute;
        width: 100%;
        top: 37vh;
        color:white;
        font-size: ms(3);
        font-style: italic;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        @include breakpoint($tablet_portrait) {
            font-size: ms(2);
        }
    }
    &__buttons {
        position: absolute;
        top: 68vh;
        width: 100%;
    }
    
    &__button {
        display: inline-block;        
        padding: 0.618em;
        border: 1px solid white;
        color: white;
        font-size: ms(2);
        text-decoration: none;
        transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
        &--first {
            margin-right: 1em;        
        }
        &--brand {
            position: absolute;
            top: 4vh;
            right: 3vw;
        }
        &--language {
            position: absolute;
            top: 4vh;
            left: 3vw;
        }
        &:hover {
            opacity: 0.8;        
        }
    }
    &__scrolldown {
        display:block;
        /* position: absolute; */
        /* top: 78vh; */
        margin: auto;
        margin-top: 10vh;
        color:white;
        font-size: ms(3);
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background-color: rgba(255,255,255,0.1);
        transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;

        animation: scrolldown_pulse 7s infinite;
        &:hover {
            color: rgba(255,255,255,0.8);
           /* animation-play-state: paused;      */
        }
        
    }
    @keyframes scrolldown_pulse {
        0%   {
            background-color: rgba(255,255,255,0.1);
        }
        50%   {
            background-color: rgba(255,255,255,0.3);
        }
        100% {
            background-color: rgba(255,255,255,0.1);
        }
    }
}
