.portfolio {
    /* margin-bottom: 1.618em; */
    &__header {
        display: block;
        font-size: ms(3);     
        padding-top: 1em;
        padding-bottom: 0.618em;
        padding-left: 0.382em;
    }
    
    &__image {
        transition: transform 7s;
        min-width: 100%;
        min-height: 100%;
        &:hover{
            transform: scale(1.5);
        }
    }
    &__item {
        position: relative;
        height: 350px;
        /* height: ms(6); */
        margin-bottom: gutter();
        /* background: floralwhite; */
        overflow: hidden;
        transition: all 3s;
        @include breakpoint($res_900p) {
            height: 300px;
        }
        @include breakpoint($tablet_landscape) {
            height: 200px;
        }
        &--4 {
            @include span(4 of 12);     
            @include breakpoint($tablet_portrait) {
                @include span(12 of 12);     
            }
        }
        &--8 {
            @include span(8 of 12);     
            @include breakpoint($tablet_portrait) {
                @include span(12 of 12);     
            }
        }
        &--offset4 {
            @include push(4 of 12);
        }
        &--last {
            @include last;     
        }
        &--webdev {
            background: #0daad0;
        }
        &--analytics {
            background: #f16529;
        }
        /* hover box-shadow: 0 1px 3px #aaa; */
    }
    &__description {
        position: absolute;     
        font-size: ms(1);
        bottom: 1em;
        left: 0;
        color: white;
        padding: 1em;
        &--webdev {
            background: #0daad0;
        }
        &--analytics {
            background: #f16529;
        }
    }
    &__link {
        text-decoration: none;        
        color: #fff;
        transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
        &:hover {
            opacity: 0.8;        
        }
    }
    
}
.skill {
    &__header {
        color: white;        
        font-size: ms(2);
        padding-top: 1em;
        padding-bottom: 0.618em;
        padding-left: 0.618em;
    }
    &__list {
        padding-left: 1.618em;
    }
    &__item {
        color: white;        
        font-size: ms(1);
        margin-bottom: 0.618em;
    }
    
}

