/* line 5, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/_typography.scss */
body {
  /* font-size:100%; */
  /* line-height:1.125em; */
  font-size: 16px;
  line-height: 1;
  font-family: 'Source Sans Pro', sans-serif;
}

/* body { */
/* font-family: 'Source Sans Pro', sans-serif; */
/* } */
/* // Webfont kit from http://www.fontsquirrel.com/fonts/source-sans-pro */
/* // Custom Sass */
/* // http://coding.smashingmagazine.com/2013/02/14/setting-weights-and-styles-at-font-face-declaration */
/* // Regular */
/* @include font-face( */
/* "Source Sans Pro", */
/* font-files( */
/* 'source-sans-pro/SourceSansPro-Regular-webfont.woff', woff, */
/* 'source-sans-pro/SourceSansPro-Regular-webfont.ttf', ttf, */
/* 'source-sans-pro/SourceSansPro-Regular-webfont.svg', svg), */
/* 'source-sans-pro/SourceSansPro-Regular-webfont.eot', */
/* normal, // font-weight */
/* normal  // font-style */
/* ); */
/* // Bold */
/* @include font-face( */
/* "Source Sans Pro Bold", */
/* font-files( */
/* 'source-sans-pro/SourceSansPro-Bold-webfont.woff', woff, */
/* 'source-sans-pro/SourceSansPro-Bold-webfont.ttf', ttf, */
/* 'source-sans-pro/SourceSansPro-Bold-webfont.svg', svg), */
/* 'source-sans-pro/SourceSansPro-Bold-webfont.eot', */
/* 700 // font-weight */
/* ); */
/* // Italic */
/* @include font-face( */
/* "Source Sans Pro Italic", */
/* font-files( */
/* 'source-sans-pro/SourceSansPro-It-webfont.woff', woff, */
/* 'source-sans-pro/SourceSansPro-It-webfont.ttf', ttf, */
/* 'source-sans-pro/SourceSansPro-It-webfont.svg', svg), */
/* 'source-sans-pro/SourceSansPro-It-webfont.eot', */
/* normal, // font-weight */
/* italic  // font-style */
/* ); */
/* // Bold italic */
/* @include font-face( */
/* "Source Sans Pro Bold Italic", */
/* font-files( */
/* 'source-sans-pro/SourceSansPro-BoldIt-webfont.woff', woff, */
/* 'source-sans-pro/SourceSansPro-BoldIt-webfont.ttf', ttf, */
/* 'source-sans-pro/SourceSansPro-BoldIt-webfont.svg', svg), */
/* 'source-sans-pro/SourceSansPro-BoldIt-webfont.eot', */
/* 700,   // font-weight */
/* italic // font-style */
/* ); */
/* line 1, ../sass/_layout.scss */
.container {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/*!
 * Strip - A Less Intrusive Responsive Lightbox - v1.6.2
 * (c) 2014-2015 Nick Stakenburg
 *
 * http://www.stripjs.com
 *
 * Licensing:
 * - Commercial: http://www.stripjs.com/license
 * - Non-commercial: http://creativecommons.org/licenses/by-nc-nd/3.0
 */
/* line 12, ../sass/_strip.scss */
.strp-window {
  position: fixed;
  width: 0;
  height: 100%;
  overflow: hidden;
  background: #292929;
  font: 13px/20px "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, sans-serif;
}

/* line 21, ../sass/_strip.scss */
.strp-window.strp-vertical {
  height: 0;
  width: 100%;
}

/* margin is added around the window to keep a visual reference
 * to the underlying page at all times.
 */
/* line 29, ../sass/_strip.scss */
.strp-window {
  margin-left: 40px;
}

/* line 30, ../sass/_strip.scss */
.strp-window.strp-vertical {
  margin-left: 0;
  margin-bottom: 40px;
}

/* fullscreen on smaller screens (iPhone 6+ and smaller)
 * since min-width is used to make this work it won't show on IE8, but
 * we're not expecting that browser to have a mobile sized screen anyway
 */
@media all and (max-width: 414px) and (orientation: portrait), all and (max-width: 736px) and (max-height: 414px) {
  /* line 38, ../sass/_strip.scss */
  .strp-window.strp-horizontal {
    min-width: 100%;
  }
}
@media all and (max-height: 414px) and (orientation: landscape), all and (max-height: 736px) and (max-width: 414px) {
  /* line 42, ../sass/_strip.scss */
  .strp-window.strp-vertical {
    min-height: 100%;
  }
}
/* z-index */
/* line 47, ../sass/_strip.scss */
.strp-window,
.strp-spinner-move {
  z-index: 99999;
}

/* reset box-sizing */
/* line 53, ../sass/_strip.scss */
.strp-window,
.strp-window [class^='strp-'],
.strp-spinner-move,
.strp-spinner-move [class^='strp-'] {
  box-sizing: border-box;
}

/* Chrome hack, this fixes a visual glitch when quickly toggling a video */
/* line 61, ../sass/_strip.scss */
.strp-window {
  transform: translateZ(0px);
}

/* some properties on the window are used to toggle things
 * like margin and the fullscreen mode,
 * we reset those properties after measuring them
 */
/* line 67, ../sass/_strip.scss */
.strp-measured {
  margin: 0 !important;
  min-width: 0 !important;
  min-height: 0 !important;
}

/* line 73, ../sass/_strip.scss */
.strp-pages {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* sides */
/* line 81, ../sass/_strip.scss */
.strp-side-right {
  top: 0;
  right: 0;
}

/* line 82, ../sass/_strip.scss */
.strp-side-right .strp-pages {
  top: 0;
  right: 0;
}

/* line 83, ../sass/_strip.scss */
.strp-side-right .strp-page {
  top: 0;
  right: 0;
}

/* line 84, ../sass/_strip.scss */
.strp-side-right .strp-close {
  top: 0;
  right: 0;
}

/* line 86, ../sass/_strip.scss */
.strp-side-left {
  top: 0;
  left: 0;
}

/* line 87, ../sass/_strip.scss */
.strp-side-left .strp-pages {
  top: 0;
  left: 0;
}

/* line 88, ../sass/_strip.scss */
.strp-side-left .strp-page {
  top: 0;
  left: 0;
}

/* line 89, ../sass/_strip.scss */
.strp-side-left .strp-close {
  top: 0;
  right: 0;
}

/* line 91, ../sass/_strip.scss */
.strp-side-top {
  top: 0;
  left: 0;
}

/* line 92, ../sass/_strip.scss */
.strp-side-top .strp-pages {
  top: 0;
  left: 0;
}

/* line 93, ../sass/_strip.scss */
.strp-side-top .strp-page {
  top: 0;
  left: 0;
}

/* line 94, ../sass/_strip.scss */
.strp-side-top .strp-close {
  top: 0;
  right: 0;
}

/* line 96, ../sass/_strip.scss */
.strp-side-bottom {
  bottom: 0;
  left: 0;
}

/* line 97, ../sass/_strip.scss */
.strp-side-bottom .strp-pages {
  bottom: 0;
  left: 0;
}

/* line 98, ../sass/_strip.scss */
.strp-side-bottom .strp-page {
  bottom: 0;
  left: 0;
}

/* line 99, ../sass/_strip.scss */
.strp-side-bottom .strp-close {
  top: 0;
  right: 0;
}

/* line 101, ../sass/_strip.scss */
.strp-page {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 107, ../sass/_strip.scss */
.strp-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #292929;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* youtube & vimeo use overlap:false, this adds padding
   to make sure buttons don't overlap the content.
   navbutton = 72 = 54 + (2 * 9 margin)
   closebutton = 48
*/
/* line 127, ../sass/_strip.scss */
.strp-no-overlap .strp-container {
  padding: 48px 72px;
}

/* line 128, ../sass/_strip.scss */
.strp-no-overlap.strp-no-sides .strp-container {
  padding: 48px 0;
}

/* line 130, ../sass/_strip.scss */
.strp-vertical .strp-no-overlap .strp-container {
  padding: 0 72px;
}

/* line 131, ../sass/_strip.scss */
.strp-vertical .strp-no-overlap.strp-no-sides .strp-container {
  padding: 0 48px;
}

/* line 133, ../sass/_strip.scss */
.strp-hovering-clickable .strp-container {
  cursor: pointer;
}

/* line 136, ../sass/_strip.scss */
.strp-content-element {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* line 142, ../sass/_strip.scss */
.strp-content-element iframe {
  float: left;
  width: 100%;
  height: 100%;
}

/* line 148, ../sass/_strip.scss */
.strp-container img {
  display: inline-block;
  vertical-align: middle;
}

/* line 153, ../sass/_strip.scss */
.strp-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #efefef;
  font-size: 13px;
  line-height: 20px;
  background: #000;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* line 166, ../sass/_strip.scss */
.strp-info-padder {
  display: block;
  overflow: hidden;
  padding: 12px;
  position: relative;
  width: auto;
}

/* line 174, ../sass/_strip.scss */
.strp-caption {
  width: auto;
  display: inline;
  white-space: wrap;
}

/* line 180, ../sass/_strip.scss */
.strp-position {
  color: #b3b3b3;
  float: right;
  line-height: 21px;
  opacity: 0.99;
  position: relative;
  text-align: right;
  margin-left: 15px;
  white-space: nowrap;
}

/* links */
/* line 192, ../sass/_strip.scss */
.strp-info a,
.strp-info a:hover {
  color: #ccc;
  border: 0;
  background: none;
  text-decoration: underline;
}

/* line 199, ../sass/_strip.scss */
.strp-info a:hover {
  color: #eee;
}

/* < > */
/* line 204, ../sass/_strip.scss */
.strp-nav {
  position: absolute;
  top: 50%;
  width: 54px;
  height: 72px;
  margin: 0 9px;
  margin-top: -36px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 216, ../sass/_strip.scss */
.strp-nav-previous {
  left: 0;
}

/* line 217, ../sass/_strip.scss */
.strp-nav-next {
  right: 0;
  left: auto;
}

/* line 219, ../sass/_strip.scss */
.strp-nav-disabled {
  cursor: default;
}

/* line 221, ../sass/_strip.scss */
.strp-nav-button {
  float: left;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 228, ../sass/_strip.scss */
.strp-nav-button-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #101010;
}

/* line 236, ../sass/_strip.scss */
.strp-nav-button-icon {
  float: left;
  position: relative;
  height: 100%;
  width: 100%;
  zoom: 1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* X */
/* line 248, ../sass/_strip.scss */
.strp-close {
  position: absolute;
  width: 48px;
  height: 48px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 258, ../sass/_strip.scss */
.strp-close-background,
.strp-close-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  height: 26px;
  width: 26px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* line 269, ../sass/_strip.scss */
.strp-close-background {
  filter: alpha(opacity=80);
  opacity: .8;
  background-color: #101010;
}

/* line 274, ../sass/_strip.scss */
.strp-close:hover .strp-close-background {
  background-color: #161616;
}

/* line 277, ../sass/_strip.scss */
.strp-has-error .strp-container {
  background-color: #ca3434;
}

/* line 278, ../sass/_strip.scss */
.strp-error {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 240px;
  height: 240px;
  margin-left: -120px;
  margin-top: -120px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("strip-skins/strip/error.svg");
}

/* line 290, ../sass/_strip.scss */
.strp-no-svg .strp-error {
  background-image: url("strip-skins/strip/error.png");
}

/* Spinner - loading icon, wrapped by a div that moves it */
/* line 293, ../sass/_strip.scss */
.strp-spinner-move {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 48px;
  width: 0;
  /* ensure overflow during a jQuery animation */
  overflow: visible !important;
}

/* line 302, ../sass/_strip.scss */
.strp-spinner-move.strp-vertical {
  width: 48px;
  height: 0;
}

/* line 304, ../sass/_strip.scss */
.strp-spinner {
  width: 48px;
  height: 48px;
  float: left;
  position: relative;
}

/* different sides */
/* line 312, ../sass/_strip.scss */
.strp-spinner-move.strp-side-top {
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
}

/* line 313, ../sass/_strip.scss */
.strp-spinner-move.strp-side-bottom {
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
}

/* line 315, ../sass/_strip.scss */
.strp-spinner-move.strp-side-right .strp-spinner {
  margin-left: -48px;
}

/* line 316, ../sass/_strip.scss */
.strp-spinner-move.strp-side-left .strp-spinner {
  margin-right: -48px;
  float: right;
}

/* line 317, ../sass/_strip.scss */
.strp-spinner-move.strp-side-bottom .strp-spinner {
  margin-top: -48px;
}

/* line 318, ../sass/_strip.scss */
.strp-spinner-move.strp-side-top .strp-spinner {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -48px;
}

@-moz-keyframes strp-spinner-spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes strp-spinner-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes strp-spinner-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 325, ../sass/_strip.scss */
.strp-spinner-rotate,
.strp-spinner-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 334, ../sass/_strip.scss */
.strp-spinner-line {
  position: absolute;
  left: 50%;
  top: 15px;
  width: 2px;
  margin-left: -1px;
  height: 3px;
  border-radius: 1px;
  z-index: 80;
  /* amount of lines, removed later on */
  color: inherit;
  /* color of the dots, inherited from text on the page */
}

/*
 * ===== Skin: strip =====
 */
/* < > */
/* line 352, ../sass/_strip.scss */
.strp-window-skin-strip .strp-nav-button-background {
  background-color: transparent;
}

/* line 353, ../sass/_strip.scss */
.strp-window-skin-strip .strp-nav-previous .strp-nav-button-icon {
  background-image: url("strip-skins/strip/previous.svg");
}

/* line 354, ../sass/_strip.scss */
.strp-window-skin-strip .strp-nav-next .strp-nav-button-icon {
  background-image: url("strip-skins/strip/next.svg");
}

/* IE7-8/no-svg (using a faded png) */
/* line 356, ../sass/_strip.scss */
.strp-window-skin-strip.strp-no-svg .strp-nav-previous .strp-nav-button-icon {
  background-image: url("strip-skins/strip/previous-faded.png");
  opacity: 1;
}

/* line 357, ../sass/_strip.scss */
.strp-window-skin-strip.strp-no-svg .strp-nav-next .strp-nav-button-icon {
  background-image: url("strip-skins/strip/next-faded.png");
  opacity: 1;
}

/* line 359, ../sass/_strip.scss */
.strp-window-skin-strip .strp-nav .strp-nav-button-icon {
  opacity: .6;
}

/* normal state */
/* line 360, ../sass/_strip.scss */
.strp-window-skin-strip.strp-mobile-touch .strp-nav .strp-nav-button-icon {
  opacity: 1;
}

/* mobile-touch always has normal states at full opacity */
/* < > : hover */
/* line 363, ../sass/_strip.scss */
.strp-window-skin-strip .strp-nav:hover .strp-nav-button-icon,
.strp-window-skin-strip .strp-nav-hover .strp-nav-button-icon {
  opacity: 1;
}

/* IE7-8/no-svg (unfaded png) */
/* line 366, ../sass/_strip.scss */
.strp-window-skin-strip.strp-no-svg .strp-nav.strp-nav-previous:hover .strp-nav-button-icon,
.strp-window-skin-strip.strp-no-svg .strp-nav-hover.strp-nav-previous .strp-nav-button-icon {
  background-image: url("strip-skins/strip/previous.png");
}

/* line 368, ../sass/_strip.scss */
.strp-window-skin-strip.strp-no-svg .strp-nav.strp-nav-next:hover .strp-nav-button-icon,
.strp-window-skin-strip.strp-no-svg .strp-nav-hover.strp-nav-next .strp-nav-button-icon {
  background-image: url("strip-skins/strip/next.png");
}

/* Reduce < > button size on narrow screens (iPhone 6 and smaller) */
@media all and (max-width: 375px) and (orientation: portrait), all and (max-height: 375px) and (max-width: 667px) {
  /* line 374, ../sass/_strip.scss */
  .strp-window-skin-strip .strp-nav {
    width: 48px;
    height: 60px;
    margin: 0 5px;
    margin-top: -30px;
  }

  /* < > */
  /* line 382, ../sass/_strip.scss */
  .strp-window-skin-strip .strp-nav-previous .strp-nav-button-icon {
    background-image: url("strip-skins/strip/previous-small.svg");
  }

  /* line 383, ../sass/_strip.scss */
  .strp-window-skin-strip .strp-nav-next .strp-nav-button-icon {
    background-image: url("strip-skins/strip/next-small.svg");
  }

  /* IE7-8/no-svg (using a faded png) */
  /* line 385, ../sass/_strip.scss */
  .strp-window-skin-strip.strp-no-svg .strp-nav-previous .strp-nav-button-icon {
    background-image: url("strip-skins/strip/previous-small-faded.png");
  }

  /* line 386, ../sass/_strip.scss */
  .strp-window-skin-strip.strp-no-svg .strp-nav-next .strp-nav-button-icon {
    background-image: url("strip-skins/strip/next-small-faded.png");
  }

  /* IE7-8/no-svg (unfaded png) */
  /* line 389, ../sass/_strip.scss */
  .strp-window-skin-strip.strp-no-svg .strp-nav.strp-nav-previous:hover .strp-nav-button-icon,
  .strp-window-skin-strip.strp-no-svg .strp-nav-hover.strp-nav-previous .strp-nav-button-icon {
    background-image: url("strip-skins/strip/previous-small.png");
  }

  /* line 391, ../sass/_strip.scss */
  .strp-window-skin-strip.strp-no-svg .strp-nav.strp-nav-next:hover .strp-nav-button-icon,
  .strp-window-skin-strip.strp-no-svg .strp-nav-hover.strp-nav-next .strp-nav-button-icon {
    background-image: url("strip-skins/strip/next-small.png");
  }

  /* also reduce padding
     navbutton = 58 = 48 + (2 * 5 margin)
     closebutton = 48
   */
  /* line 398, ../sass/_strip.scss */
  .strp-no-overlap .strp-container {
    padding: 48px 58px;
  }

  /* line 399, ../sass/_strip.scss */
  .strp-no-overlap.strp-no-sides .strp-container {
    padding: 48px 0;
  }

  /* line 401, ../sass/_strip.scss */
  .strp-vertical .strp-no-overlap .strp-container {
    padding: 0 58px;
  }

  /* line 402, ../sass/_strip.scss */
  .strp-vertical .strp-no-overlap.strp-no-sides .strp-container {
    padding: 0 48px;
  }
}
/* X */
/* line 406, ../sass/_strip.scss */
.strp-window-skin-strip .strp-close .strp-close-icon {
  background-image: url("strip-skins/strip/close.svg");
  opacity: .8;
}

/* line 407, ../sass/_strip.scss */
.strp-window-skin-strip .strp-close:hover .strp-close-icon {
  opacity: 1;
}

/* iOS 8.4.1 bug: when opacity changes it'll require 2 taps
   force a single opacity to fix this
*/
/* line 411, ../sass/_strip.scss */
.strp-window-skin-strip.strp-mobile-touch .strp-close .strp-close-icon,
.strp-window-skin-strip.strp-mobile-touch .strp-close:hover .strp-close-icon {
  opacity: 1;
}

/* IE7-8/no-svg */
/* line 415, ../sass/_strip.scss */
.strp-window-skin-strip.strp-no-svg .strp-close .strp-close-icon {
  background-image: url("strip-skins/strip/close.png");
  opacity: 1;
}

/* here's how to have content slide in with the window when opening and closing  */
/*
.strp-window-skin-strip.strp-side-left.strp-opening  .strp-page,
.strp-window-skin-strip.strp-side-left.strp-closing  .strp-page { left: auto; right: 0; }
.strp-window-skin-strip.strp-side-right.strp-opening  .strp-page,
.strp-window-skin-strip.strp-side-right.strp-closing  .strp-page { left: 0; right: auto; }
.strp-window-skin-strip.strp-side-top.strp-opening  .strp-page,
.strp-window-skin-strip.strp-side-top.strp-closing  .strp-page { bottom: 0; top: auto; }
.strp-window-skin-strip.strp-side-bottom.strp-opening  .strp-page,
.strp-window-skin-strip.strp-side-bottom.strp-closing  .strp-page { bottom: auto; top: 0; }
*/
/* line 1, ../sass/_intro.scss */
.intro {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
/* line 6, ../sass/_intro.scss */
.intro__video {
  width: 100%;
  height: 100%;
  outline: none;
}
/* line 20, ../sass/_intro.scss */
.intro__brand {
  display: inline-block;
  position: absolute;
  top: 4vh;
  right: 3vw;
  padding: 0.618em;
  border: 1px solid white;
  color: white;
  font-size: 2.61803em;
}
/* line 31, ../sass/_intro.scss */
.intro__heading {
  position: absolute;
  width: 100%;
  top: 25vh;
  color: white;
  font-size: 6.8541em;
}
/* line 38, ../sass/_intro.scss */
.intro__subheading {
  position: absolute;
  width: 100%;
  top: 37vh;
  color: white;
  font-size: 4.23607em;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
}
/* line 47, ../sass/_intro.scss */
.intro__buttons {
  position: absolute;
  top: 68vh;
  width: 100%;
}
/* line 53, ../sass/_intro.scss */
.intro__button {
  display: inline-block;
  padding: 0.618em;
  border: 1px solid white;
  color: white;
  font-size: 2.61803em;
}
/* line 59, ../sass/_intro.scss */
.intro__button--first {
  margin-right: 1em;
}
/* line 63, ../sass/_intro.scss */
.intro__scrolldown {
  display: block;
  /* position: absolute; */
  /* top: 78vh; */
  margin: auto;
  margin-top: 10vh;
  color: white;
  font-size: 4.23607em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  animation: scrolldown_pulse 7s infinite;
}
@keyframes scrolldown_pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
/* line 1, ../sass/_portfolio.scss */
.portfolio {
  margin-bottom: 1.618em;
}
/* line 3, ../sass/_portfolio.scss */
.portfolio__header {
  font-size: 4.23607em;
  padding-top: 1em;
  padding-bottom: 0.618em;
  padding-left: 0.382em;
}
/* line 10, ../sass/_portfolio.scss */
.portfolio__image {
  transition: transform 7s;
  min-width: 100%;
  min-height: 100%;
}
/* line 14, ../sass/_portfolio.scss */
.portfolio__image:hover {
  transform: scale(1.5);
}
/* line 18, ../sass/_portfolio.scss */
.portfolio__item {
  position: relative;
  height: 350px;
  margin-bottom: 2.12766%;
  /* background: floralwhite; */
  overflow: hidden;
  transition: all 3s;
  /* hover box-shadow: 0 1px 3px #aaa; */
}
/* line 25, ../sass/_portfolio.scss */
.portfolio__item--4 {
  width: 31.91489%;
  float: left;
  margin-right: 2.12766%;
}
/* line 28, ../sass/_portfolio.scss */
.portfolio__item--8 {
  width: 65.95745%;
  float: left;
  margin-right: 2.12766%;
}
/* line 31, ../sass/_portfolio.scss */
.portfolio__item--last {
  float: right;
  margin-right: 0;
}
/* line 34, ../sass/_portfolio.scss */
.portfolio__item--webdev {
  background: #0daad0;
}
/* line 37, ../sass/_portfolio.scss */
.portfolio__item--analytics {
  background: #f16529;
}
/* line 42, ../sass/_portfolio.scss */
.portfolio__description {
  position: absolute;
  font-size: 1.61803em;
  bottom: 1em;
  left: 0;
  color: white;
  padding: 1em;
}
/* line 49, ../sass/_portfolio.scss */
.portfolio__description--webdev {
  background: #0daad0;
}
/* line 52, ../sass/_portfolio.scss */
.portfolio__description--analytics {
  background: #f16529;
}
/* line 56, ../sass/_portfolio.scss */
.portfolio__link {
  text-decoration: none;
  color: #fff;
}
/* line 59, ../sass/_portfolio.scss */
.portfolio__link:hover {
  opacity: 0.8;
}

/* line 66, ../sass/_portfolio.scss */
.skill__header {
  color: white;
  font-size: 2.61803em;
  padding-top: 1em;
  padding-bottom: 0.618em;
  padding-left: 0.618em;
}
/* line 73, ../sass/_portfolio.scss */
.skill__list {
  padding-left: 1.618em;
}
/* line 76, ../sass/_portfolio.scss */
.skill__item {
  color: white;
  font-size: 1.61803em;
  margin-bottom: 0.618em;
}

/* line 2, ../sass/_contacts.scss */
.contacts__container {
  background: #f5f5f5;
  padding-bottom: 4.236em;
}
/* line 6, ../sass/_contacts.scss */
.contacts__header {
  font-size: 4.23607em;
  padding-top: 1em;
  padding-bottom: 0.618em;
  padding-left: 0.382em;
}
/* line 12, ../sass/_contacts.scss */
.contacts__list {
  padding-left: 1.618em;
}
/* line 16, ../sass/_contacts.scss */
.contacts__item {
  font-size: 1.61803em;
  margin-bottom: 1em;
}
/* line 20, ../sass/_contacts.scss */
.contacts__icon {
  margin-right: 0.618em;
}
/* line 23, ../sass/_contacts.scss */
.contacts__link {
  text-decoration: none;
  color: #000;
}
/* line 26, ../sass/_contacts.scss */
.contacts__link:hover {
  border-bottom: 2px solid grey;
}

/* line 2, ../sass/_footer.scss */
.footer__note {
  float: left;
  font-size: 1.61803em;
  padding-top: 1.618em;
  padding-bottom: 1.618em;
}

/*# sourceMappingURL=style.css.map */
